/***3 - TAG SELECTORS - applied to all elements with same selector ****/
body {
  background-color: #F4FCD9;
}

h3 {
  color: #A25B5B;
}

hr {
  background-color: #534340;
  height: 0;
}

img:hover {
  background-color: #ACB992;
}

/***2 - CLASS SELECTORS - applied to all elements that have the same class****/
.profile-picture {
  background-color: #F4FCD9;
}

/***1 - ID SELECTORS - applied only to the element with the specified id (only 1 elem per page can have a particular id)****/
#name {
  color: #534340;
}
